<form method="POST" action="#" th:action="@{${path}}" th:object="${form}" xmlns:th="http://www.w3.org/1999/xhtml">
	<ul class="errs">
		<li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}" class="err" />
	</ul>
	<input type="hidden" th:field="*{id}" />
	<section id="form">
		<dl class="clearfix">
			<dt><label th:for="${#ids.next('author')}" class="required" >投稿者</label></dt>
			<dd>
				<div>
					<input type="text" th:field="*{author}" th:value="*{author}" />
					<span  th:errors="*{author}" th:errorclass="err"/>
				</div>
			</dd>
			<dt><label th:for="${#ids.next('title')}" class="required">タイトル</label></dt>
			<dd>
				<div>
					<input type="text" th:field="*{title}"  th:value="*{title}"/>
					<span  th:errors="*{title}" th:errorclass="err" />
				</div>
			</dd>
			<dt><label th:for="${#ids.next('body')}" class="required">内容</label></dt>
			<dd>
				<div>
					<textarea th:field="*{body}" th:value="*{body}"></textarea>
					<span  th:errors="*{body}" th:errorclass="err" /><!--th:if="${#fileds.hasErrors('body')}"-->
				</div>
			</dd>
		</dl>
		<button type="submit">送信</button>
	</section>
</form>
<section id="posts">
	<ul>
		<li th:each="post : ${list}">
			<article class="post">
				<ul>
					<li>
						<h3 th:text="${post.author}" />
					</li>
					<li>
						<h2 th:text="${post.title}" />
					</li>
					<li>
						<pre class="body" th:text="${post.body}"></pre>
					<li>
					<li>
						<div class="buttons clearfix"><a th:href="@{'edit?id={id}'(id=${post.id})}" class="edit">編集</a><a th:href="@{'delete?id={id}'(id=${post.id})}" class="delete">削除</a></div>
					</li>
				</ul>
			</article>
		</li>
	</ul>
</section>
